<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akj.helpyou">
    <!-- 인터넷, 위치 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android:permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_with"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_with_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpYou"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.Viewer"
            android:exported="false" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.FindRoadActivity" />
        <activity android:name=".activities.RecentAreaActivity" />
        <activity android:name=".activities.RecentRouteActivity" />
        <activity android:name=".activities.RecentBookmarkActivity" />
        <activity android:name=".activities.BookmarkActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.SubwayMapActivity" />
        <activity android:name=".activities.ResultRouteActivity" />
        <activity android:name=".activities.search.SearchActivity" />
        <activity android:name=".activities.ResultRouteDetailActivity" />
        <activity android:name=".activities.SubwayDetailActivity" />
        <activity android:name=".activities.Substitute3dImageActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ba736be77629e672fce65d7bb072ed17" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBU_ovnZhR5ojzZr7EtIoLTqfrV-UDcEtQ" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>